@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color:rgb(0, 0, 0) ;
    color: white;}

header li{
    display:inline;
    position: relative;
    left: 10px;
    margin-left: 15px;
    top:20px;
    font-size: 17px;}

header li:hover{
    background-color:rgb(70, 162, 255);
    padding: 5px;}

@media screen and (max-width:600px){
header li {
    font-size: 15px;
    display: inline-flex;
    margin:auto;
    padding-right: 10px;
    padding-left: 1px;}}

.container{
    max-width: 80%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    top: 30vh;}

h1{
    width: auto;
    max-width: 75%;
    position: relative;
    left: 10%;
    font-size: 45px;
    top:-30px;}

@media screen and (max-width:600px){
h1{
    font-size: 30px;
    display: block;
    margin-top: -20px;}}

.contate{
    position: absolute;
    font-size: 15px;
    border-style: solid;
    padding: 15px;
    left: 10%;
    top:240px;}
    
.contate:hover{
    background-color: rgb(70, 162, 255);}

@media screen and (max-width:600px){
.contate{font-size: 15px;}}

a{
    text-decoration: none;
    color: white;}


.foto{
    position: relative;
    left:50%;
    margin-top: -275px;
    max-width: 20%;}

@media screen and (max-width:1170px){
    img{
    max-width: 250%;
    position: relative;
    top: 450px;
    left: -200px;}}

@media screen and (max-width:500px){
    img{
    max-width: 250%;
    position: relative;
    top: 450px;
    left: -190px;}}
        
footer li{
    position: relative;
    left: 45%;
    top:100px;
    display: inline;
    margin-left: 15px;
    text-decoration: none;}

 footer img{
    width: 5vh;
    text-decoration: none;}

@media screen and (max-width:1200px) { 
li img{
    position: relative;
    left: -100px;
    width:50px;
    margin: auto;
    text-align: center;
    margin-bottom: 480px;}}

    /*DAQUI PARA BAIXO ABA PROJETOS*/


.text{
    position: static;
    margin-top: 35px;
    margin: auto;
    margin-bottom: 45px;
    padding-top: 25px;
    text-shadow: 5px 5px 5px rgb(71, 71, 71);}

@media screen and (max-width:728px){
.text{font-size: 26px;}}

.projetos {
    margin-top: 5px;
    position: static;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-shadow: 4px 4px 4px rgb(71,71,71);
    line-height: 45px;} 

@media screen and (max-width:728px){
.projetos{font-size: 16px;}}

.debug{
    position: static;
    box-shadow: 1px 1px 25px rgb(70, 162, 255);
    width: 50%;
    border-radius: 5px;}

@media screen and (max-width:728px){
.debug{width: 90%;}}

.voltar{
    display: inline-block;
    position: static;
    margin-top: 50px;
    font-size: 30px;
    padding: 5px;}

.voltar:hover{
    background-color: rgb(8, 95, 182);
    border-radius: 1px;
    padding: 5px;
    border-radius: 2px;}

    @media screen and (max-width:728px){
        .voltar{font-size: 20px;}}

    /*DAQUI PARA BAIXO ABA EXPERIENCIA*/

    .exp{position: static;
        margin: auto;
        text-align: center;
        margin-top: 15px;
        text-shadow: 5px 5px 5px rgb(71, 71, 71);}

    .p{text-shadow: 5px 5px 5px rgb(71, 71, 71);
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        line-height: 45px;}

        @media screen and (max-width:728px) {
            .p{font-size: 16px;}}

    .linguagens{
        max-width: 50%;
        margin: auto;
        text-align: center;
        list-style: none;
        line-height: 60px;
        font-size: 25px;
        padding-right: 45px;}

     @media screen and (max-width:728px) {
            .linguagens{font-size: 16px;
                max-width: 70%;}}

    .voltar2{
        display:inline-block;
        position: relative;
        left: 48%;
        text-align: center;
        margin:auto;
        margin-top: 50px;
        font-size: 30px;
        padding: 5px;
        text-align: center;}

        @media screen and (max-width:728px) {
            .voltar2{ position: relative;
                left: 45%;
                font-size: 25px;}}

                @media screen and (max-width:375px) {
                    .voltar2{ position: relative;
                        left: 39%;
                        font-size: 25px;}}

                        @media screen and (max-width:425px) {
                            .voltar2{ position: relative;
                                left: 41%;
                                font-size: 22px;}}

.voltar2:hover{
    background-color: rgb(8, 95, 182);
    border-radius: 1px;
    padding: 5px;
    border-radius: 2px;}    
    
.eu{/*corpo*/
    background-image: linear-gradient(to left, #000000,#1e356b,#165cc4be,rgba(0, 0, 0, 0.979));
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 0px;
    border-radius: 80px;
    /*box-shadow: 6px 6px 10px rgba(42, 195, 255, 0.507);MUDEI DE IDEIA AQUI RS*/
    line-height:35px;
    font-family: Arial, Helvetica, sans-serif;}

@media screen and (max-width:1176px){
.eu{display: block;}}

.me{/*minha foto*/
    position: static;
    margin-right: 30px;
    border-radius: 280px;
    max-width:430px ;
    border-style:groove;} 

@media screen and (max-width:1176px){
.me{
    display: block;
    width:25%;
    margin:auto}}

    @media screen and (max-width:600px){
        .me{
            display: block;
            width:35%;
            margin:auto}}

.sobremim{/*texto sobre mim*/
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-right: 15px;
    font-size: 20px;}

@media screen and (max-width:1176px){
.sobremim{
    display: block;
    margin-left: 20px;
    width: 90%;
    position: static;
    font-size: 17px;}}
